    .container{
  min-height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  }
  .container-items{
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    background-color: white;
    padding: 30px 30px 30px 30px ;
      font-size: large;
      display: flex;
      flex-direction: column;
      height:100%;
      min-width:40vh ;
      max-width: auto;
      justify-content: flex-start;
  }
  .flex-items{
    display: flex;
    flex-direction: column;
    justify-content: flex-start
  }
  .flex-item input{
  width: 90%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 4px;
  padding: 8px 2px;
  border: 2px solid rgb(240, 237, 237);
  height: 3vh;
  background-color: #F3F1F5;
  outline: none;}
  h3{
    text-align: center;
  }
 
 .name-boxes{
  display: flex;
  justify-content:space-between;
  flex-direction: row;
  
 }
 
  button{
    background-color:#035397;
    color: white;
    border-radius: 4px;
    outline: none;
    padding: 14px;
    margin-top: 15px;
  }
  i{
    padding: 8px !important;
    margin-top: 4px !important;
  }
  
  td,th{
   padding:0 30px 0 0;
    border-bottom:2px #aaaaaa solid;
  }
  .container-table{
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size:medium;
    
  }
  table{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 50px;
  }

.email-tag{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 4px;
  padding: 8px 2px;
  border: 2px solid rgb(240, 237, 237);
  height: 3vh;
  background-color: #F3F1F5;
  outline: none;
}
.pass-wrapper input {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 4px;
  padding: 8px 4px;
  border: 2px solid rgb(240, 237, 237);
  height: 3vh;
  background-color: #F3F1F5;
  outline: none;
}
.pass-wrapper {
  position: relative;
  display: flex;
  
}
.pass-wrapper i {
  position: absolute;
  top: 8%;
  right: 6%;
}
.pass-wrapper i:hover {
  color: #ccd3d3;
  cursor: pointer;
}
